<%- include('partials/header') -%> 

<body class="expandable-bg">
    <%- include('partials/navbar_loggedin') -%> 
        <div class="deeds">
            <% deeds.forEach(deed => { %>
                <div class="deed">
                    <h2 class="deed-title"><%= deed.title %></h2>
                    <p class="deed-description"><%= deed.description %></p>
                    <a href="" class="deed-author"><%= deed.author %></a>
                </div>
            <% }) %>
        </div>
</body>